<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Price Checker</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'priceChecker/landingPage.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body>
    <div class="logo-container">
      <a href="{% url 'priceChecker:index' %}">
        <div class="logo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="400"
            height="120"
            viewBox="0 0 400 120"
          >
            <style>
              .text {
                font: bold 36px Arial;
                fill: #4caf50;
              }
              .underline {
                stroke: #4caf50;
                stroke-width: 2;
              }
            </style>
            <rect
              x="30"
              y="30"
              width="270"
              height="80"
              width="400"
              height="120"
              fill="none"
              stroke="#4caf50"
              stroke-width="2"
              rx="10"
              ry="10"
            />
            <text x="50" y="80" class="text">PriceChecker</text>
            <line x1="50" y1="90" x2="280" y2="90" class="underline" />
          </svg>
        </div>
      </a>
      <div class="nav-container">
        <div class="hamburger-container">
          <div class="hamburger-menu" onclick="toggleMenu()">
            <i class="fas fa-bars" id="open-icon"></i>
            <i class="fas fa-times close-icon" id="close-icon"></i>
          </div>
        </div>
        <div class="nav-links">
          <a class="nav-link" href="{% url 'priceChecker:about' %}">About</a>
          <a class="nav-link" href="{% url 'priceChecker:viewAll' %}">Show All</a>
        </div>
      </div>
    </div>
    <div class="list-container">
      <ul class="list-wrapper">
        <li><a class="nav-link" href="{% url 'priceChecker:about' %}">About</a></li>
        <li><a class="nav-link" href="{% url 'priceChecker:viewAll' %}">Show All</a></li>
      </ul>
    </div>
    {% block content %}
    <header class="header">
      Discover the best deals with Price Checker! <br />
      Compare prices from various online stores and save money on your favorite
      products
    </header>
    <div class="base-container">
      <div class="wrapper input-wrapper">
        <form method="post">
          {% csrf_token %} Choose Product
          <input
            type="text"
            placeholder="Which product do you looking for?"
            name="product_name"
          /><br />
          <input type="submit" value="Search for offers" />
        </form>
      </div>
    </div>
    {% endblock %}
  </body>
  <script>
    function toggleMenu() {
      const hamburgerMenu = document.querySelector('.hamburger-menu');
      const dropdownMenu = document.querySelector('.list-container');
    
      const hamburgerIcon = document.getElementById('open-icon');
      const closeIcon = document.getElementById('close-icon');
    
      if (dropdownMenu.style.display === 'none' || dropdownMenu.style.display === '') {
        dropdownMenu.style.display = 'block';
        hamburgerIcon.style.opacity = '0';
        closeIcon.style.opacity = '1';
      } else {
        dropdownMenu.style.display = 'none';
        hamburgerIcon.style.opacity = '1';
        closeIcon.style.opacity = '0';
      }
    };

    window.onload = function () {
      document.querySelector(".header").classList.add("typing");
    };
  </script>
</html>
